BOT_TOKEN=123456:ABCDEF
DATABASE_URL=postgresql://user:password@host:port/dbname
GROUP_ID=-1001234567890
ADMIN_IDS=123456789,987654321
REWARD_IMAGE_URL=https://i.postimg.cc/XNzZGCZY/5475f4b9-b4f6-4fc1-b072-a9be4132adb4.jpg
REWARD_REQUIRED_JOINS=6
